@import '_colors.scss';

html[data-sigaa-extension-active='true'] {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-bg-blue;
    transition: background 0.5s ease;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-text-title-section;
  }

  body {
    background-color: $color-background;
  }

  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  input {
    min-height: 48px;
    transition: background 0.5s ease;

    &:hover {
      outline-color: $color-primary;
    }

    &:focus-visible {
      outline-color: $color-primary;
    }

    &[type='checkbox'] {
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(8px);
      transition: background 0.5s ease;

      &:hover {
        cursor: pointer;

        &:before {
          background-color: #ccc;
        }
        &:checked {
          &:before {
            background-color: $color-accent;
          }
        }
      }

      &:before {
        content: '';
        height: 26px;
        width: 26px;
        min-height: 26px;
        min-width: 26px;
        display: inline-block;
        background-color: #ececec;
        visibility: visible;
        box-sizing: border-box;
        transition: background 0.5s ease;

        &:hover {
          background-color: #ccc;
        }
      }

      &:checked {
        &:before {
          &:hover {
            background-color: $color-accent;
          }
          height: 32px;
          width: 32px;
          min-height: 32px;
          min-width: 32px;
          background-color: $color-primary;
          mask-image: url('https://api.iconify.design/ant-design/check-square-filled.svg');
          -webkit-mask-image: url('https://api.iconify.design/ant-design/check-square-filled.svg');
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-size: 32px;
          -webkit-mask-size: 32px;
        }
      }
    }

    &[type='file'] {
      border: none;
      transform: translateY(8px);
    }

    &[type='submit'],
    &[type='button'] {
      min-width: 140px;
      border: none;
      transition: background-color 0.5s ease;
      font-size: 1.05rem;
      padding: 8px;
      box-sizing: border-box;

      &:hover {
        background-color: $color-primary;
        cursor: pointer;
      }
    }

    &[type='password'],
    &[type='text'] {
      min-width: 240px;
      padding-left: 8px;
      border-color: transparent;
      outline-color: transparent;
      background: $color-primary-opac-10;

      &:focus {
        outline-color: $color-primary;
      }
    }
  }

  ::-webkit-file-upload-button {
    background: $color-primary-opac-10;
    color: $color-text;
    padding: 12px;
    border: none;

    &:hover {
      cursor: pointer;
      background: $color-primary;
    }
  }

  select {
    min-width: 32px;
    max-width: 90%;
    height: 32px;
    border: none;
    background: $color-primary-opac-10;
    transition: background 0.5s ease;

    &:focus-visible {
      outline-color: $color-primary;
    }

    &#formAva\:possuiNota {
      margin-left: 6px;
    }

    &:hover {
      cursor: pointer;
      outline: 2px solid $color-primary;
    }
  }

  body #cabecalho {
    min-height: 76px;
    background-color: #c4d2eb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    #info-sistema {
      width: 100%;
      min-height: 32px;
      display: flex;
      align-items: center;

      div.dir {
        display: flex;
        min-height: 32px;
        align-items: center;

        span.acessibilidade,
        span.sair-sistema {
          a {
            font-size: 1.2em;
            padding: 8px 4px;

            &:hover {
              background-color: $color-primary-opac-10;
            }
          }
        }
        span#tempoSessao {
          font-size: 1.1em;
        }
      }
    }

    #painelDadosUsuario {
      margin-top: 5px !important;
      p {
        font-size: 0.8rem !important;
        a {
          font-size: 0.7rem !important;
        }
      }
      div {
        font-size: 0.7rem !important;
      }
    }

    #painel-usuario #menu-usuario {
      ul li {
        a#show-modulos,
        a {
          display: flex;
          align-items: center;
          min-height: 32px;
          background-position: 5px 12px;
          transition: all 0.5s ease;
        }
      }
    }
  }

  // menu
  #menu-dropdown .wrapper table.ThemeOfficeMenu tbody tr {
    td.ThemeOfficeMainItem,
    td.ThemeOfficeMainItemHover {
      padding: 8px 4px;
      transition: background 0.5s ease;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #menu-dropdown
    .wrapper
    div.ThemeOfficeSubMenu
    table.ThemeOfficeSubMenuTable
    tbody {
    tr.ThemeOfficeMenuItem,
    tr.ThemeOfficeMenuItemHover {
      transition: background 0.5s ease;

      td {
        padding: 8px 4px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .formulario table.listagem > tbody tr {
    &:hover {
      background-color: $color-primary-opac-10;
      td#tdTipo a {
        font-weight: bold;
      }
    }

    td {
      padding: 12px 3px;
    }
  }

  .ui-button {
    min-height: 32px;
    min-width: 32px;
  }

  #auxEsconderSubMenu {
    display: none;
  }

  #menuTurmaVirtual {
    float: right;
    position: relative;

    #formAcoesTurma button.ui-button-icon-only.ui-state-default {
      &:hover {
        span.ui-icon {
          background-color: $color-text;
        }
      }
      span.ui-icon {
        &.botaoPortal,
        &.botaoImprimir,
        &.botaoAulasPaginadas,
        &.botaoTrocarTurma,
        &.botaoOpcoesTurma,
        &.botaoAtivarEdicao {
          background-image: none;
          background-color: $color-accent;

          &:hover {
            background-color: $color-text;
          }
        }
        &.botaoPortal {
          mask-image: url('https://api.iconify.design/clarity/home-solid.svg');
        }
        &.botaoImprimir {
          mask-image: url('https://api.iconify.design/fluent/print-24-filled.svg');
        }
        &.botaoAulasPaginadas {
          mask-image: url('https://api.iconify.design/heroicons-outline/switch-horizontal.svg');
        }
        &.botaoTrocarTurma {
          mask-image: url('https://api.iconify.design/akar-icons/arrow-back-thick-fill.svg');
        }
        &.botaoOpcoesTurma {
          mask-image: url('https://api.iconify.design/ci/settings-filled.svg');
        }
        &.botaoAtivarEdicao {
          mask-image: url('https://api.iconify.design/clarity/edit-solid.svg');
        }
      }
    }
  }

  // painel lateral esquerdo
  $size-height-painel-item: 32px;
  .ui-layout-pane:not(.ui-layout-center),
  #barraEsquerda {
    table tbody tr td {
      color: $color-text-title-section;
      min-height: $size-height-painel-item;
      height: $size-height-painel-item !important;
      background: $color-blue-gradient !important;
    }

    .rich-panelbar.rich-panelbar-b {
      .rich-panelbar.rich-panelbar-interior {
        .rich-panelbar-header-act,
        .rich-panelbar-header {
          display: flex;
          align-items: center;
          min-height: $size-height-painel-item;
          background-position-x: 6px;
          text-indent: 24px;
        }
        .rich-panelbar-content-exterior {
          table tbody tr {
            .rich-panelbar-content a div {
              display: flex;
              align-items: center;
              padding-top: 0;
              padding-bottom: 2px;
              text-indent: 0px;
              padding-left: 16px;

              min-height: $size-height-painel-item;
              height: $size-height-painel-item;

              transition: background 0.5s ease;

              img {
                margin-left: 0px !important;
                margin-right: 6px;
              }
            }
          }
        }
      }
    }
  }

  .ui-layout-pane {
    table:not(.jscalendar-DB-table-style) tbody tr td {
      color: $color-text-title-section;
      min-height: $size-height-painel-item;
      height: $size-height-painel-item !important;

      span {
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative !important;

        img {
          object-fit: contain;
          cursor: pointer;
        }

        select {
          min-width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
  }

  .rich-stglpanel-header.headerBloco {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    font-size: 0.75rem;
    padding: 2px 6px;
    min-height: $size-height-painel-item;
    height: $size-height-painel-item !important;
    background: $color-blue-gradient !important;
  }

  .rich-stglpanel-body {
    .progress {
      .progress-bar {
        background: $color-blue-gradient-45deg;
        color: $color-text-title-section;
      }
    }
  }

  // topicos de aula

  #formAva .topico-aula {
    .titulo {
      background: rgb(240, 240, 240);
      padding: 10px !important;
      color: #111;
    }

    .conteudotopico {
      border: 1px solid #ccc;
      padding: 6px;
      border-top: 0;
      font-size: 0.8rem !important;
      line-height: 1rem !important;
    }
  }

  .required-items {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .required,
  .obrigatorio {
    background-image: none;
    position: relative;

    span#labelNotaMaximaUnidade {
      display: block;
    }

    &:before {
      content: '';
      width: 32px;
      height: 32px;
      background-color: $color-alert;
      display: inline-block;
      position: absolute;
      right: -8px;
      width: 14px;
      height: 14px;
      transform: scale(0.8);

      mask-image: url('https://api.iconify.design/ant-design/star-filled.svg');
      mask-repeat: no-repeat;
      mask-position: right;
      -webkit-mask-image: url('https://api.iconify.design/ant-design/star-filled.svg');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: right top;
    }
  }

  .botoes .other-actions {
    display: flex;
    transform: translateX(-100%);
  }

  // calendario
  #formAva\:dataInicioDispArquivoSpan_calendarDivm,
  .jscalendar-DB-div-style {
    left: 32px !important;
    top: -24px !important;

    .jscalendar-DB-title-background-style {
      background-color: $color-primary-opac-10;
    }
    .jscalendar-DB-body-style {
      td {
        padding: 0;
      }
    }
    .jscalendar-DB-normal-day-style {
      padding: 4px;
    }
  }

  #formAva\:dataInicioDispArquivoSpan_selectYearDiv {
    left: 182px !important;
    top: 8px !important;
  }
  #formAva\:dataInicioDispArquivoSpan_selectMonthDiv {
    left: 107px !important;
    top: 8px !important;
  }
}
