$color-primary: #24aeff;
$color-primary-2: #2beed9;
$color-primary-opac-10: rgba(36, 174, 255, 0.1);
$color-alert: #ff6961;

$color-background: #fafafa;
$color-text: #111;
$color-blue-gradient: linear-gradient(
  180deg,
  rgba(213, 228, 245, 1) 0%,
  rgba(174, 201, 236, 1) 50%,
  rgba(213, 228, 245, 1) 100%
);
$color-blue-gradient-45deg: linear-gradient(
  45deg,
  rgba(213, 228, 245, 1) 0%,
  rgba(174, 201, 236, 1) 50%,
  rgba(213, 228, 245, 1) 100%
);
$color-accent: #15428b;
$color-text-title-section: #111;
$color-bg-blue: #c4d2eb;
